body {
    margin: 0;
    background-color:  #020A18;
    font-family: 'Open Sans', sans-serif;
}
.nav {
  display: flex;
  column-gap: 40px;
  list-style: none;
  margin: 0;
  padding: 0;
}
.header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
  background-color: #020b1b;
}
.header a {
  text-decoration: none;
  color: white;
  font-size: 16px;
  line-height: normal;
  font-weight: 600;
}
.intro {
  margin-top: 160px;
  display: flex;
  gap: 128px;
}
.center {
  width: 1146px;
  margin-left: auto;
  margin-right: auto;
}
.upperTitle {
  color: #3A68B8;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 160%;
  text-transform: uppercase;
}
.title {
  color: #FFF;
  font-size: 55px;
  font-style: normal;
  font-weight: 800;
  line-height: 130%;
  margin-top: 10px;
}
.desc {
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 160%; 
  color: #FFF;
  opacity: 0.7;
  margin-top: 40px;
  width: 558px;
}
.buttonWrapper {
  display: flex;
  margin-top: 50px;
  column-gap: 20px;
}
.button {
  padding: 15px 30px;
  border-radius: 5px;
  background: #3A68B8;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  color: #FFF;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  border: none;
}
.cards {
  margin-top: 87px;
  display: flex;
  justify-content: space-between;
}
.imageText {
  margin-top: 157px;
  display: flex;
  justify-content: center;
  gap: 68px;
}
.leftText {
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: white;
}
.titleText {
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: 130%;
}
.descText {
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 160%; /* 25.6px */
  opacity: 0.7;
  margin-top: 30px;
}
.buttonWrapperText {
  margin-top: 50px;
}
.items {
  margin-top: 264px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px
}
.advantages__item {
  padding: 30px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  gap: 30px;
  align-items: center;
  background: #132035;
}

.advantages__item_big {
  grid-column: span 2;
  grid-row: span 2;
  gap: 60px;
}

.advantages__img {
  width: 98px;
  height: 103px;
}

.advantages__img_big {
  width: 306px;
  height: 322px;
}

.advantages__heading {
  font-style: normal;
  font-weight: 700;
  font-size: 25px;
  line-height: 125%;
  text-align: center;
  color: #FFFFFF;
  opacity: 0.7;
}

.advantages__text {
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 160%;
  text-align: center;
  color: #FFFFFF;
  opacity: 0.7;
}
.marg-bott {
  margin-bottom: 221px;
}
.footer {
  height: 250px;
  display: grid;
  align-content: center;
  grid-template-columns: repeat(3, 1fr);
}
.footer-title {
  color: #FFF;
  font-family: Roboto, sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  margin: 0 0 33px;
}
.footer-contacts {
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.footer-desc {
  color: #FFF;
  font-family: Roboto, sans-serif;
  font-size: 14px;
  font-style: italic;
  font-weight: 100;
  line-height: normal;
  opacity: 0.6;
  width: 261px;
}
.footer-socials {
  margin-top: 24px;
  display: flex;
  gap: 24px;
}
.footer-link {
  color: #FFF;
  font-family: Roboto, sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}


@media (min-width: 849px) and (max-width: 1439px) { 
  .center {
    width: 768px;
  }
  .intro, .imageText {
    flex-direction: column;
    align-items: center;
  }
  .cards {
    flex-wrap: wrap;
    gap: 32px;
    justify-content: center;
    width: 600px;
  }
  .leftText {
    width: 484px;
    margin-left: auto;
    margin-right: auto;
  }
  .items {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 32px;
  }
  .advantages__item {
    width: 362px;
  }
  .footer {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    height: 391px;
    gap: 30px;
  }
}
@media (min-width: 320px) and (max-width: 848px) {
  .nav {
    gap: 16px;
  }
  .desc {
    width: auto;
  }
  .center {
    width: 343px;
  }
  .marg-bott {
    margin-bottom: 113px;
  }
  .intro, .imageText {
    flex-direction: column;
    align-items: center;
    margin-top: 64px;
  }
  .buttonWrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
  }
  .buttonWrapperText {
    margin-right: auto;
    margin-left: auto;
  }
  .buttonWrapper .button {
    width: fit-content;
  }
  .cards {
    flex-wrap: wrap;
    gap: 32px;
    justify-content: center;
  }
  .items {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 32px;
  }
  .footer {
    display: flex;
    flex-direction: column;
    gap: 32px;
    height: 427px;
    padding-bottom: 64px;
    align-items: center;
  }
} 